* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: white;
}

body {
  background: linear-gradient(to bottom, #141e30, #243b55);
}

.page-header {
  background-color: #141e30;
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding: 30px 0px;
  border-bottom: 2px solid #502031;
  position: relative;
}

.page-footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  font-size: small;
  background-color: black;
  opacity: 0.8;
}

.footing-spacer {
  height: 20px;
}

object {
  margin: auto;
  width: 60%;
  height: 600px;
  display: block;
  border-radius: 3px;
}
